.keeping-finding {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.4%, #000000 100%), url("../../img/first-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 218px;
    padding-bottom: 430px;
    &__top {
        margin-left: 109px;
        margin-bottom: 500px;
        max-width: 700px;

        @media (max-width: 560px) {
            margin-left: 0;
        }
    }
    &__top-title {
        font-family: "SFPro Meduim", sans-serif;
        max-width: 698px;
        margin-bottom: 31px;
    }
    &__top-text {
        &:nth-of-type(1) {
            max-width: 619px;
            margin-bottom: 16px;
        }
        &:nth-of-type(2) {
            max-width: 639px;
            margin-bottom: 32px;
        }
        @media (max-width: 850px) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__top-buttons {
        display: flex;
        column-gap: 24px;
    }
    &__btn-donate {
        font-weight: 600;
        line-height: 27px;
        padding: 10px;
        background: rgba(253, 180, 97, 0.82);
        border-radius: 8px;
        color: rgba(62, 34, 3, 0.82);
        border: none;

        &:focus {
            outline: none;
        }

        @include hover() {
            opacity: 0.6;
        }
        &:active {
            background-color: $active-color;
        }
        &.focus-visible {
            outline: 1px solid $active-color;
        }
    }
    &__btn-more {
        padding: 10px;
        border: 2px solid rgba(62, 34, 3, 0.82);
        border-radius: 8px;
        font-weight: 600;
        line-height: 27px;
        color: rgba(62, 34, 3, 0.82);

        &:focus {
            outline: none;
        }

        @include hover() {
            opacity: 0.6;
        }
        &:active {
            background-color: $active-color;
        }
        &.focus-visible {
            outline: 1px solid $active-color;
        }
    }

    &__bottom {
        column-gap: 75px;
        color: rgba(255, 255, 255, 0.9);
        @media (max-width: 950px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__bottom-title {
        max-width: 550px;
        margin-bottom: 50px;
    }
    &__bottom-text {
        max-width: 639px;

        @media (max-width: 950px) {
            font-size: 16px;
            line-height: 28px;
        }
        @media (max-width: 560px) {
            font-size: 14px;
            line-height: 26px;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    &__bottom-image {
        object-fit: cover;

        @media (max-width: 560px) {
            width: 300px;
            height: 550px;
        }
    }
    &__bottom-btn {
        margin-top: 32px;
    }
    &__bottom-btn {
        display: flex;
        column-gap: 10px;
        align-items: center;
        font-weight: 600;
        line-height: 27px;

        svg {
            fill: rgba(253, 180, 97, 0.82);
        }
    }
    &__user-quote {
        margin-top: 120px;
    }
}
