<header class="header">
  <div class="container header__container">
    <span class="header__logo">Mariposa SPCA</span>
    <div class="header__right">
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__list-link" href="#">Adoption</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Events</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Memberships</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Volunteer</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Success Stories</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="#">Blog</a>
        </li>
      </ul>
      <button class="btn header__btn"">Donate</button>
    </div>
    <button class=" menu-btn" aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
</header>